# This file ignores irrelevant file patterns, and complements the whitelist
# defined in the files property of the package.json.

.gitignore
.gitmodules

.eslintignore
.eslintrc.json

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log*
dump.rdb

.node_repl_history
.DS_Store
